@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  /* border: red solid 1px; */
}
body {
  background-color: rgb(247, 245, 242);
}
.custom-shadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .custom-input {
    @apply input input-sm text-xs text-zinc-700 input-bordered bg-zinc-50 focus:outline-primary focus:border-zinc-100;
  }
  .custom-textarea {
    @apply textarea textarea-bordered w-auto resize-none text-xs bg-zinc-50 focus:outline-primary focus:border-primary;
  }
  .navlink {
    @apply md:w-full items-center justify-start flex gap-3 text-sm font-[600] p-3 hover:bg-secondary rounded-md hover:text-white transition-all duration-300 hover:shadow-md hover:drop-shadow-sm;
  }
  .navlink-user {
    @apply flex gap-2 text-xs font-[600] p-2 hover:bg-secondary rounded-md hover:text-white transition-all duration-300;
  }
}
